@charset "UTF-8";
:root {
  --green:#31E981;
  --cream:#F0F1E4;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition: 0.3s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cream);
}

main {
  flex-grow: 1;
  position: relative;
}

nav {
  width: 100%;
}

/*-----------------------------------------------------header----------------------------------------------------------*/
.site-header {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: NeueHaasGrotesk, sans-serif;
  letter-spacing: -1px;
  width: 100%;
  top: 0;
  color: var(--cream);
  background-color: var(--green);
  transition: transform 0.5s;
  transform: translateY(0);
}
.site-header.hide {
  transform: translateY(-100%);
}
.site-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1%;
}
.site-header .header-content h1 {
  background-color: #232020;
  padding: 10px;
  border-radius: 15px;
}
.site-header .link {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

a {
  font-family: NeueHaasGrotesk, sans-serif;
  -webkit-appearance: none;
  text-decoration: none;
  color: #232020;
  font-weight: bold;
  font-size: 1.5em;
}

.lineHeader {
  background-color: var(--green);
  border-radius: 15px;
  height: 8px;
  width: 85%;
  margin-bottom: 10px;
}

/*-----------------------------------------------------titre----------------------------------------------------------*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: NeueHaasGroteskBold, sans-serif;
}
.title h1 {
  margin: 0;
  color: #232020;
}
.title .title-content {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  line-height: 1;
  font-size: 10em;
}

.Portfolio {
  background-color: var(--green);
}

/*-----------------------------------------------------mys----------------------------------------------------------*/
.moi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  background-color: #232020;
  height: 100vh;
  font-family: NeueHaasGroteskBold, sans-serif;
}
.moi .moi-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.5%;
  padding-right: 3.5%;
  height: 100%;
}
.moi h1 {
  font-size: 3em;
}
.moi .moi-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
}
.moi img {
  height: 100%;
}
.moi p {
  width: 100%;
  font-size: x-large;
  text-align: justify;
}

/*-----------------------------------------------------Project----------------------------------------------------------*/
.project {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #F0F1E4;
  min-height: 100vh;
  font-family: NeueHaasGrotesk, sans-serif;
  padding: 10% 3.5% 10% 3.5%;
  width: 100%;
}
.project h1 {
  font-size: 3em;
}

.title-projet {
  margin-bottom: 40px;
}

/*-----------------------------------------------------card project----------------------------------------------------------*/
.cardSelect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.cardSelect a {
  font-size: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  font-family: NeueHaasGrotesk, sans-serif;
  color: #F0F1E4;
  border-radius: 15px;
  height: 30em;
  width: 20em;
  transition: all, 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card .card-text {
  padding: 5%;
}
.card h1 {
  font-size: 2em;
  padding: 5%;
}
.card img {
  max-height: 100%;
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card p {
  margin-bottom: 10px;
}

.GitHub {
  color: var(--green);
  font-weight: bold;
  font-size: 1.5em;
  transition: all, 0.3s;
}

.card:hover {
  scale: 1.05;
}
.card:hover .GitHub {
  color: var(--cream);
}

/*-----------------------------------------------------Compétence---------------------------------------------------------------*/
.competence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 3.5%;
  min-height: 100vh;
  width: 100%;
  background-color: #232020;
  color: #FFFFFF;
  font-family: NeueHaasGrotesk, sans-serif;
}
.competence h1 {
  font-size: 3em;
}
.competence h2 {
  padding: 20px;
}

/*-----------------------------------------------------animation page----------------------------------------------------------*/
.wrapperTabs {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 90vw;
  align-content: baseline;
}
.tabs .tabs__label {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 1.5em;
  height: fit-content;
}
.tabs .tabs__radio {
  display: none;
}
.tabs .tabs__content {
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
  flex-grow: 1;
}
.tabs .tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: var(--green);
  border-bottom: 2px solid var(--green);
}
.tabs .tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.competenceContent {
  display: flex;
  justify-content: space-around;
}

.projectCard {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1em;
  width: 22.5em;
}
.projectCard .cardText {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  z-index: 10;
  width: 22.5em;
  height: 22.5em;
  background-color: var(--green);
}
.projectCard .cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  position: absolute;
  top: 0;
  height: 22.5em;
  background-color: var(--cream);
  transition: all 0.5s;
  color: #232020;
  padding: 1.25em;
}
.projectCard:hover .cardBody {
  border-radius: 0 0 15px 15px;
  translate: 0 95%;
}

/*# sourceMappingURL=accueil.css.map */
