.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: NeueHaasGrotesk, sans-serif;
    letter-spacing:-1px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.link{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

a{
    font-family: NeueHaasGrotesk, sans-serif;
    -webkit-appearance: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.lineHeader{
    background-color: #31E981;
    border-radius: 15px;
    height: 8px;
    width: 85%;
}

.title{
    display: flex;
    flex-direction: column;
    padding: 8% 5% 0% 5%;
    font-family: NeueHaasGroteskBold, sans-serif;
    font-size: 110px;
    line-height: 1;
    letter-spacing:-8px;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow img{
    padding-bottom: 2%;
    padding-top: 7%;

}

.title h1{
    margin: 0;
}


.mySelf{
    padding: 10%;
    height: 400px;
    color: #FFFFFF;
    background-color: #31E981;
}
